<h3>Episode {{movie.episode_id}} - {{movie.title}}</h3>
Release Date: {{movie.release_date}} <br/>
Director: {{movie.director}} <br/>
Producer: {{movie.producer}} <br/>
Opening Crawl: <br/>
<p>{{movie.opening_crawl}}</p>
